@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Live Tiles</h1>
    <p> Welcome to your Live Information Centre. For instructions on how to customize your tiles visit the 'Help' page </p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to LiveTiles</h2>
        <p>
            LiveTiles is a Community Information Centre.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Set up your tile configuration</h2>
        <p>You can set up a variety of live tile configurations</p>
    </div>
</div>
