@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Live Tiles</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to LiveTiles</h2>
        <p>
            LiveTiles is a Community Information Centre.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Set up your tile configuration</h2>
        <p>You can set up a variety of live tile configurations</p>
    </div>
    <div class="col-md-4">
        <h2>Setup your Tile feed</h2>
        <p>You can choose different live feeds for your live tiles</p>
    </div>
</div>