@model List<LiveTiles.ViewModels.RssNews>

<div class="container">
    <table class="table">
        <tbody>
            @foreach (var newsItem in @Model)
            {
                <tr>
                    <td>@newsItem.PublicationDate.Replace("GMT","")</td>
                    <td>
                        <h5> @newsItem.Title</h5>
                        @*<small>@Html.Raw(@newsItem.Description)</small>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
